.hero {
	// border: 1px solid;

	// image\header\bg-header.jpg
	background: #f1f1f1 url('../image/header/2.png') no-repeat center right;
	background-size: contain;
	padding-top:120px;
	padding-bottom: 270px;
	margin-top: 80px;
	&__title {
		font-size: 30px;
		margin-bottom: 40px;
	}
	&__subtitle {
		display: block;
		margin-bottom: 67px;
		font-size: 30px;
		font-family: 'Proxima Nova Semibold', sans-serif;
	}
}
@media(max-width:991px) {
	.hero {
		background-position: top left;
	}
}
@media(max-width:768px) {
	.hero {
				background: #f1f1f1 url('../image/hero/2.PNG') no-repeat center;
	}
}
